body {
  font-family: 'Questrial', sans-serif;
}

h1 {
  margin: 20px 10px 10px;
}

#forecast {
  @media (min-width: 768px) {
    display: flex;
    width: 100%;
  }

  .day {
    border: 8px solid #000;
    margin: 10px;
    padding: 10px;
    text-align: center;

    @media (min-width: 768px) {
      width: 20%;
    }
  }

  small {
    color: #AFAFAF;
  }

  .weather_icon {
    text-align: center;
  }
}
